.App-header {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-container {
  display: flex; 
  justify-content: space-around;
  /* margin: 0 100px; */
}

.Resistor-parameters {
  width: 100%;
  max-width: 500px;
  margin: 0 50px;
}

.Resistor-output {
  margin: 0 50px;
}

svg {
  min-width: 100%;
}

.Button-calc {
  background: #32383E;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  padding: 12px 0;
  margin-top: 40px;
}

.Output-paragraph {
  color: #fff;
  background: #32383E;
  text-align: center;
  font-weight: 600;
  border-radius: 60px;
  min-width: 300px;
  padding: 10px 0px;
}

.Resistor-svg {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .App-container {
    flex-direction: column;
    margin: 0 5%;
  }
  .Resistor-parameters {
    min-width: 100%;
    margin: 0 0 20px 0;
  }
  .Resistor-output {
    display: contents;
  }
  .Output-paragraph {
    min-width: 100%;
  }
  svg {
    align-self: center;
    width: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .App-container {
    margin: 0 15%;
  }
}